{% extends 'base.j2' %}

{% block  content %}
    <style>
        .buzzer_button {
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            width: 150px;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .buzzer_button:hover {
            background-color: #3e8e41
        }

        .buzzer_button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    </style>

    <audio src="../static/buzzer_sound2.mp3" id="BUZZER_SOUND">
        test
    </audio>


    <div class="container">
        <div class="row ">

            <div class="col">

            </div>
            <div class="col text-center">
                <div class="h1 MontserratBlack MainFontColor2 ">USARCENT Buzzer System</div>

                <div class="btn-group d-block" role="group" aria-label="Basic example">
                    <button id="J_BUTTON" type="button" class="btn btn-secondary">Jeopardy</button>
                    <button id="OG_BUTTON" type="button" class="btn btn-secondary">Other Games</button>
                    {#                    <button type="button" class="btn btn-secondary">Right</button>#}
                </div>
            </div>
            <div class="col">

            </div>


        </div>

        <div class="row justify-content-center">

            <div class="col ">
                <hr>

                <input id="USER_RESP" class="form-control" type="text"
                       style="margin-bottom: 30px;text-align: center;height: 150px; font-size: 30px">


                <hr style="color: #761037">
            </div>


        </div>

        <div class="row justify-content-center">
            <div class="col-lg-offset-3 col-sm-offset-3">
                <button class="buzzer_button btn-primary" id="BUZZER_BTN">Buzz</button>
                <button class="buzzer_button btn-secondary" id="RESET_BTN" style="margin-left: 10px">Reset</button>
            </div>

        </div>


    </div>

    <script>
        function buzz_check() {
            let team_name = "{{ team_data.name }}";

            $.ajax({
                url: '/api/v1/onload_buzz_check',
                data: JSON.stringify({"team_name": team_name}),
                contentType: 'application/json',
                method: 'POST',
                statusCode: {
                    200: function (response) {
                        if (response.result === true) {
                            $('#USER_RESP').val(String(response.doc.response)).attr('readonly', true)
                            $('#BUZZER_BTN').attr('disabled', true).text("Buzzed")
                        }


                    },
                    417: function (response) {
                        $('#USER_RESP').attr('readonly', false)
                        $('#BUZZER_BTN').attr('disabled', false).text("Buzz")
                        console.log(response.responseJSON)
                    }

                }
            })
        }


        $('document').ready(function () {
            buzz_check()
            setInterval(buzz_check, 8000)
            // Triggers a reset of the forum and removal of the buzzer record in the database
            $('#RESET_BTN').click(function () {

                let team_name = "{{ team_data.name }}"

                $.ajax({
                        url: '{{ url_for("clear_buzz") }}',
                        data: JSON.stringify({'name': team_name}),
                        contentType: 'application/json',
                        method: 'POST',
                        statusCode: {
                            200: function (response) {

                                if (response.result === true) {
                                    $('#BUZZER_BTN').text("Buzz").attr('disabled', false);
                                    $('#USER_RESP').attr('readonly', false).val("")
                                    alert("Buzz Cleared")
                                } else {

                                }


                            }
                        }

                    }
                )
            })

            // Trigger the Buzzer sound once the button is push
            $('#BUZZER_BTN').click(function () {
                $('#BUZZER_SOUND').trigger('play')

                let input_data = $('#USER_RESP').val()
                let team_name = "{{ team_data.name }}"


                $.ajax({
                        url: '{{ url_for("team_buzzed") }}',
                        data: JSON.stringify({"user_resp": input_data, "team_name": team_name}),
                        contentType: 'application/json',
                        method: 'POST',
                        statusCode: {
                            201: function (response) {

                                if (response.result === true) {
                                    $('#USER_RESP').attr('readonly', true)
                                    $('#BUZZER_BTN').attr('disabled', true).text("Buzzed")
                                }



                            }
                        }

                    }
                )
            })


            // On page load, checks if response is in the buzzer database, if so populates teh fields and disables
            // the buzzer button and user response input field.


            $('#J_BUTTON').click(function () {
                $('#USER_RESP').attr('disabled', true)
            })

            $('#OG_BUTTON').click(function () {
                $('#USER_RESP').attr('disabled', false)
            })
        })


    </script>

{% endblock %}