{% extends 'base.j2' %}

{% block  content %}

    <div class="container" style="margin-top: 50px">

        <div class="row" style="margin-bottom: 20px">

            <div class="col">
                <h1 class="MainFontColor">{{ event_data.title }}</h1><br>
                <h2 class="MainFontColor2">Overview:</h2>
                <article class="body_text">
                    {{ event_data.overview }}
                </article>



            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="MainFontColor2">Task:</h2>
                <ul>
                    {% for task in event_data.tasks %}

                        <li class="body_text">{{ task }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col justify-content-center">
                <hr>
                <h1 class="MainFontColor" style="margin-bottom: 30px">Questions:</h1>
                <div class="QuestionBody" style="font-size: 20px">

                </div>

                <hr>
            </div>

        </div>


    </div>

    <script>
        function validateResp() {

            $("input").blur(function () {
                // Will check if the correct answer is supplied, if not the label turns red, if correct the label turns green


                if (this.value) {
                    var response = this.value;
                    var q_id = this.id;
                    var event_id = "{{event_data.event_id}}";
                    var name = "{{team_data.name}}";

                    $.ajax({
                            url: '{{ url_for("validate_response") }}',
                            data: JSON.stringify({"response": response, "q_id": q_id, "event_id": event_id, "name": name}),
                            method: 'POST',
                            contentType: "application/json",
                            statusCode: {
                                200: function (response) {
                                    if (response.result === false) {
                                        $(`label[for=${q_id}]`).css({color: "red"})
                                        updateScore()

                                    } else {

                                        $(`label[for=${q_id}]`).css({color: "green"})
                                        updateScore()

                                    }


                                },
                                417: function (response) {
                                    console.log(response)

                                },
                                400: function (response) {
                                    if (response.result === true) {
                                        $(`label[for=${q_id}]`).css({color: "green"})
                                    }


                                }
                            }

                        }
                    )


                } else {
                    $(`label[for=${this.id}]`).css({color: "black"})
                }


            })


        }


    </script>

    <script>


        $(document).ready(function () {


            // Generates questions from the database on the WebSite
            {% for question in questions %}

                $('.QuestionBody').append('<label class="font-weight-bold" class="{{ question.q_id }}" for="{{ question.q_id }}">{{ question.text }} <span class=MainFontColor>{{ question.point_value }}pts</span></label>\n' +
                    '            <input placeholder="Cmon Think About It.." class="form-control" id="{{ question.q_id }}" type="text"> ')

            {% endfor %}

            // On page load, if any response, this will populate the response as the HTML value on the page
            {% for resp in event_responses %}
                $('#{{ resp.q_id }}').val("{{ resp.response }}")

            {% endfor %}

            validateResp()

        })

    </script>
{% endblock %}
{#{% endblock %}#}