{% extends 'base.j2' %}

{% block  content %}

    <div class="container">
        <div class="row">


            <div class="col">
                <div class="h1 MontserratBlack">
                    CyberWarrior Instructions:
                </div>
                <article class="help_font">
                    Please be sure to keep in mind that all question responses are
                    <spann style="color: red">Case-Sensitive</spann>
                    and must be type exactly as seen. This is important because the accuracy of the intel you gather
                    will determine whether you get the points or not.
                </article>
            </div>


        </div>
        <div class="row" style="margin-top: 50px">


            <div class="col">
                <div class="h1 MontserratBlack">
                    Environment Details:
                </div>
                <article class="help_font">
                    All teams will need to keep in mind the environment specific details relating to their PODS(Personal Operating Devices).
                    <ul>
                        <li>
                            IP Addresses - The 2nd Octet of every IP address will be assigned to your team number
                        </li>
                    </ul>


                    Teams will be provided with the following VMs for their PODS(Personal Operating Devices)
                    <ul>
                        <li>Windows 7 VM</li>
                        <li>Ubuntu Apache WebServer</li>
                    </ul>
                </article>
            </div>


        </div>
    </div>

{% endblock %}