{% extends 'base.j2' %}

{% block  content %}

    <div class="container">
        <div class="row">


            <div class="col">
                <div class="h1 MontserratBlack MainFontColor">
                    Scoring Guidance:
                </div>
                <article class="help_font" style="font-family: Helvetica;">
                    Please be sure to keep in mind that all question responses are
                    <b class="MainFontColor">Case-Sensitive</b>
                    and must be typed <b class="MainFontColor2">Exactly As Seen</b>. Points will be deducted based on
                    the point value of the question

                    after <b class="MainFontColor">3</b> attempts. Participants will have another <b
                        class="MainFontColor">3</b> attempts before another
                    deduction occurs. For example, If a question is worth <b style="color: green;">25</b> points and the
                    participant gets the
                    question wrong more than 3 times, <b style="color: green;">25</b> points will be
                    deducted from the current total score. If the current score value is <b>0</b> then the results will
                    be a
                    total score of <b style="color: red;">-25</b>. If the participant gets the questions wrong in <b
                        class="MainFontColor">3</b> more guesses, an additional
                    <b style="color: green;">25</b> points will be deducted resulting in a score of <b
                        style="color: red;">-50</b>. In the world of CyberSecurity accuracy with
                    intel can influence the outcome for
                    better or for worse.
                </article>
                <br>
                <article class="help_font" style="font-family: Helvetica;">
                    All games will be awarded with points value for each teams finishing position. Points that are
                    obtained during the packet capture scavenger hunt and #OpCyberJustice will be consolidated to
                    determine the overall
                    event <b style="color: gold;">champion</b>.
                </article>
            </div>


        </div>
        <div class="row" style="margin-top: 30px">


            <div class="col body_text">
                <hr>
                <div class="h2 MontserratBlack MainFontColor2">
                    Environment Details:
                </div>
                <article class="help_font" style="font-family: Helvetica">
                    All teams will need to keep in mind the environment specific details relating to their PODS(Personal
                    Operating Devices).

                    Teams will be provided with the following VMs within their PODS(Personal Operating Devices). These
                    virtual machines are unique to each team and information about each POD should never be shared
                    amongst other competitors. Below are the provided VMs:

                    <ul class="help_font">
                        <li>
                            <span class="font-weight-bold">Spectator Range</span>
                            <ul>
                                <li>PenTest VM</li>
                                <li>MrRobot VM</li>
                                <li>Mercy VM</li>
                            </ul>
                        </li>
                        <li>
                            <span class="font-weight-bold">Main Event</span>
                            <ul>
                                <li>nGage(The hottest new social media networking site that has change the way we
                                    communicate
                                    today)
                                </li>
                                <li>Ubuntu 18.04</li>
                            </ul>
                        </li>

                    </ul>
                </article>


                <hr>

                <div class="h2 MontserratBlack MainFontColor" style="margin-top: 30px">
                    Spectator Ranges:
                </div>
                <article>
                    During the CyberWarrior, we have our Advance Hacking Demos available for event spectators to
                    try their hands
                    at some real world hacker events. Below are the following hacking demos available.
                </article>



            </div>


        </div>
    </div>

{% endblock %}