{% extends 'base.j2' %}

{% block  content %}

    <div class="container">
        <div class="row">


            <div class="col">
                <div class="h1 MontserratBlack MainFontColor">
                    Scoring Guidance:
                </div>
                <article class="help_font" style="font-family: Helvetica;">
                    Please be sure to keep in mind that all question responses are
                    <b class="MainFontColor">Case-Sensitive</b>
                    and must be typed <b class="MainFontColor2">Exactly As Seen</b>. Points will be deducted based on
                    the point value of the question

                    after <b class="MainFontColor">3</b> attempts. Participants will have another <b
                        class="MainFontColor">3</b> attempts before another
                    deduction occurs. For example, If a question is worth 25 points and the participant gets the
                    question wrong more than 3 times, 25 points will be
                    deducted from the current total score. If the current score value is 0 then the results will be a
                    total score of -25. In the world of CyberSecuirty accuracy on intel can influence the outcome for
                    better or for worse.
                </article>
            </div>


        </div>
        <div class="row" style="margin-top: 30px">


            <div class="col body_text">
                <hr>
                <div class="h2 MontserratBlack MainFontColor2">
                    Environment Details:
                </div>
                <article class="help_font" style="font-family: Helvetica">
                    All teams will need to keep in mind the environment specific details relating to their PODS(Personal
                    Operating Devices).

                    Teams will be provided with the following VMs within their PODS(Personal Operating Devices). These
                    virtual machines are unique to each team and information about each POD should never be shared
                    amongst other competitors.
                </article>
                <ul>
                    <li>
                        Windows 7 VM
                        <ul>
                            <li>Putty</li>
                            <li>Wireshark</li>
                        </ul>
                    </li>
                    <li>
                        Ubuntu 18.04

                    </li>
                    <li><b>nGage</b>(The hottest new social media networking site that has change the way we
                        communicate
                        today. Be sure to log in using your team username and password, to check out the latest
                        information
                        of whats going on today)
                    </li>
                </ul>

                <hr>

                <div class="h2 MontserratBlack MainFontColor" style="margin-top: 30px">
                    Advanced Hacking Demos:
                </div>
                <article>
                    During the CyberWarrior event we have our Advance Hacking Demos available for event spectators to
                    try their hands
                    at some real world hacker events. Below are the following hacking demos available.
                </article>

                <ul>
                    <li>
                        Mr. Robot
                    </li>
                    <li>
                        Mercy
                    </li>
                    <li>
                        Basic Pentest
                    </li>
                </ul>


            </div>


        </div>
    </div>

{% endblock %}