{% extends 'base.j2' %}

{% block  content %}




    <link rel="stylesheet" href="../static/css/theme.bootstrap.min.css">

    <div class="container">

        <div class="row ">

            <div class="col">
                <div class="row justify-content-center">
                    <div class="h1 MontserratBlack MainFontColor text-center">Buzzer Monitor</div>
                </div>
                <div class="row justify-content-center">
                    <button id="RESET_BTN" class="btn btn-primary">Reset</button>
                </div>
                <hr>
                <div class="row justify-content-center text-center" >
                    <ol  class="list-group list-group-flush" id="TEAM_LIST" style="font-size: 24px;margin-top: 30px;background-color: grey">

                    </ol>
                </div>
            </div>


        </div>

    </div>

    <script>


        function makeMonitor() {
            $.ajax({
                "url": "{{ url_for("buzzers") }}",
                data: {},
                method: 'GET',
                statusCode: {
                    200: function (response) {
                        let teams = response.data;

                        $('#TEAM_LIST').empty()

                        teams.forEach(function (element) {
                            if (element.name != "ringmaster") {
                                if (element.alias) {
                                    $('#TEAM_LIST').append(`<li class="MontserratBlack list-group-item">${element.time} -- ${element.alias.toUpperCase()} -- ${element.response}</li>`);
                                } else {
                                    $('#TEAM_LIST').append(`<li class="MontserratBlack list-group-item">${element.time} -- ${element.team_name.toUpperCase()} -- ${element.response}}</li>`);
                                }

                            }


                        })


                    },

                    400: function (response) {

                    },

                    404: function (response) {

                    }
                }
            })
        }

        /// Resets the buzzes in the database.
        $('document').ready(function () {
            makeMonitor();
            setInterval(makeMonitor, 1000);


            $('#RESET_BTN').click(function () {
                $.ajax({
                    "url": "{{ url_for("reset_buzzers") }}",
                    data: {},
                    method: 'GET',
                    statusCode: {
                        200: function (response) {
                            console.log(response)

                        },

                        417: function (response) {
                            alert("No Buzzes to reset")

                        },

                        404: function (response) {

                        }
                    }
                })
            })


        })

    </script>

{% endblock %}