{% extends 'base.j2' %}

{% block  content %}

    <div class="container" style="margin-top: 50px">
        <h1 class="MontserratBlack">{{ event_data.title }}:</h1><br>
        <div class="col center">


            <div class="QuestionBody" style="font-size: 20px">


            </div>

            <hr>
        </div>

    </div>

    <script>


        $(document).ready(function () {
            // Generates questions from the database on the WebSite
            {% for question in questions %}

                $('.QuestionBody').append('<label class="MontserratBlack" class="{{ question.q_id }}" for="{{ question.q_id }}">{{ question.text }}</label>\n' +
                    '            <input placeholder="Cmon Think About It.." class="form-control" id="{{ question.q_id }}" type="text"> ')

            {% endfor %}


            {% for resp in event_responses %}
                $('#{{ resp.q_id }}').val("{{ resp.response }}")

            {% endfor %}


            $("input").blur(function () {
                // Will check if the correct answer is supplied, if not the label turns red, if correct the label turns green
                var myElement = this

                if (this.value) {
                    var response = this.value;
                    var q_id = this.id;
                    var event_id = "{{event_data.event_id}}";

                    $.ajax({
                            url: '{{ url_for("validate_resp") }}',
                            data: {"response": response, "q_id": q_id, "event_id": event_id},
                            method: 'POST',
                            statusCode: {
                                200: function (response) {
                                    if (response.result === false) {
                                        $(`label[for=${q_id}]`).css({color: "red"})


                                    } else {

                                        $(`label[for=${q_id}]`).css({color: "green"})
                                        $.get("http://127.0.0.1:5000/getscore", function (data) {
                                            // jQuery used to update the score
                                            $("#TeamScore").html(data)
                                        })
                                    }


                                }
                            }

                        }
                    )


                } else {
                    $(`label[for=${this.id}]`).css({color: "black"})
                }


            })
        })

    </script>
{% endblock %}
{#{% endblock %}#}