{% include 'home.j2' %}

<div class="container" style="margin-top: 50px">
    <div class="col">
        <h1 class="MontserratBlack">PCAP Level 2:</h1><br>
        <form method="POST" action="/pcap2" class="form form-group">
            {{ form.csrf_token }}
            {{ form.PCAP2_1.label(class="Montserrat", style="font-size: 22px;") }}
            {{ form.PCAP2_1(class='form-control') }}

            {% if form.errors['PCAP2_1'] %}
                <p style="color: red">{{ form.errors['PCAP2_1'][0] }}</p>
            {% endif %}

            {{ form.PCAP2_2.label(class="Montserrat", style="font-size: 22px;") }}
            {{ form.PCAP2_2(class='form-control') }}
            {% if form.errors['PCAP2_2'] %}
                <p style="color: red">{{ form.errors['PCAP2_2'][0] }}</p>
            {% endif %}

            {{ form.PCAP2_3.label(class="Montserrat", style="font-size: 22px;") }}
            {{ form.PCAP2_3(class='form-control') }}
            {% if form.errors['PCAP2_3'] %}
                <p style="color: red">{{ form.errors['PCAP2_3'][0] }}</p>
            {% endif %}


            {{ form.PCAP2_4.label(class="Montserrat", style="font-size: 22px;") }}
            {{ form.PCAP2_4(class='form-control') }}
            {% if form.errors['PCAP2_4'] %}
                <p style="color: red">{{ form.errors['PCAP2_4'][0] }}</p>
            {% endif %}

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <hr>
    </div>

</div>