{% extends 'base.j2' %}

{% block  content %}

    <div class="container" style="padding-bottom: 100px">
        <div class="row text-center" style="margin-bottom: 4%">
            <div class="col">
                <img src="../static/img/usarcent_logo.png" alt="">
            </div>

            <div class="col">
                <div class="h1 MontserratBlack MainFontColor">Leader Board</div>

                <ol class="list-group list-group-flush" id="TEAM_LIST" style="font-size: 24px">

                </ol>

            </div>

            <div class="col">
                <img src="../static/img/usarcent_logo.png" alt="">
            </div>
        </div>

        <div class="row " style="margin-bottom: 4%">
            <div class="col justify-content-center text-center">
                <button id="RESET_RESP" class="btn btn-danger">Reset Responses</button>
                <button id="NEW_USER" class="btn btn-primary">New Team</button>
                <button id="EDIT_USER" class="btn btn-primary">Edit Teams</button>
                <button id="SCORE_REPORT" class="btn btn-primary">Score Report</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <select id="EVENT_SELECT" class="mdb-select md-form form-control MontserratBlack event_list"
                        style="margin-bottom: 20px;font-size: 20px">
                    <option style="font-size: 25px" value="" disabled selected>Select Activity</option>
                    {% for game in games_list %}
                        <option id="{{ game.event_id }}" style="font-size: 25px"
                                value={{ game.event_id }}>{{ game.title }}</option>
                    {% endfor %}
                </select>
                <select name="QUESTIONS" id="QUESTION_SELECT"
                        class="mdb-select md-form form-control MontserratBlack" style="margin-bottom: 25px">
                    <option style="font-size: 25px" value="" disabled selected>Select Question</option>
                </select>


            </div>

        </div>
        <div class="row">


            <div id="TEAM_SET_1" class="col-4">


            </div>
            <div id="TEAM_SET_2" class="col-4">


            </div>
            <div id="TEAM_SET_3" class="col-4">


            </div>


        </div>
        <div class="row">

            <div class="col" style="margin-top: 30px">
                <button type="button" id="AWRD_BTN" class="btn btn-primary">Submit</button>
            </div>

        </div>


    </div>


    <script src="../static/js/main.js"></script>

    <script>


        $('document').ready(function () {

            makeLeaderboard()

            $('#TEAM_LIST > li').click(function () {
                {#alert(this)#}
            })

            $('#RESET_RESP').click(function () {/// Resets all users responses in the database


                if (window.confirm("Are you sure you would like to reset all team responses, this action is irreversible.")) {

                    $.ajax({
                        "url": "{{ url_for("reset_all_responses") }}",
                        data: {}, //Insert FormData fields here.
                        method: 'GET',
                        statusCode: {
                            200: function (response) {
                                if (response.result === true) {
                                    alert("All Responses Have Been Cleared")
                                }
                                updateTeamPoints()

                            },
                            201: function (response) {

                            },

                            400: function (response) {

                            },
                            404: function (response) {

                            },

                            417: function (response) {

                            },
                            500: function (response) {

                            }
                        }
                    })

                }


            })


            $('#NEW_USER').click(function () { ///Opens form to create a new user.
                popup("{{ url_for('new_team') }}", "NewTeam")


            })

            $('#EDIT_USER').click(function () {
                popup("{{ url_for('team_table') }}", "Team Table")

            })

            $('#SCORE_REPORT').click(function () {
                window.open("{{ url_for('score_report') }}")
                {#popup("{{ url_for('score_report') }}", "Team Table")#}
            })

            setInterval(makeLeaderboard, 5000);
        })

    </script>

    <script>
        function isNumber(value) {
            // Function used to validate that a number is for point value field.
            return typeof value === 'number' && isFinite(value);
        }

        let True = true
        let False = true

        let docs = {{ team_docs }};
        let docs_b = {{ team_docs }};

        // Generates the user list to input the team points.
        let docs_1 = docs.splice(0, 5)
        let arrayLength_1 = docs_1.length;
        for (var i = 0; i < arrayLength_1; i++) {

            $('#TEAM_SET_1').append(`<span class="MontserratBlack"> ${docs_1[i].name}</span> <input id="${docs_1[i].name}" class="form-control MontserratBlack" type="text" placeholder="${docs_1[i].points} points">`)
        }

        let docs_2 = docs.splice(0, 5)
        let arrayLength_2 = docs_2.length;
        for (var i = 0; i < arrayLength_2; i++) {

            $('#TEAM_SET_2').append(`<span class="MontserratBlack"> ${docs_2[i].name}</span> <input id="${docs_2[i].name}" class="form-control MontserratBlack" type="text" placeholder="${docs_2[i].points} points">`)
        }

        let docs_3 = docs.splice(0, 5)
        let arrayLength_3 = docs_3.length;
        for (var i = 0; i < arrayLength_3; i++) {

            $('#TEAM_SET_3').append(`<span class="MontserratBlack"> ${docs_3[i].name}</span> <input id="${docs_3[i].name}" class="form-control MontserratBlack" type="text" placeholder="${docs_3[i].points} points">`)
        }


        $('select.event_list').change(function () {
            _event_id = $(this).children("option:selected").val()


            if (_event_id === "CYBER_JEOPARDY") {

                $('#QUESTION_SELECT option').remove()
                $('#QUESTION_SELECT').append("<option style=\"font-size: 25px\" value=\"\" disabled selected>All</option>")
                $.ajax({
                    "url": "/api/v1/get_event_by_id",
                    data: JSON.stringify({"event_id": _event_id}),
                    contentType: 'application/json',
                    method: 'POST',
                    statusCode: {
                        200: function (response) {

                            if (response.result === true) {
                                questions = response.data.questions

                                questions.forEach(function (question) {
                                    q_id = question.q_id
                                    text = question.text

                                    $('#QUESTION_SELECT').append(`<option id=${q_id} style="font-size: 25px"
                                value=${q_id}>${text}</option>`)
                                })

                            }

                        },
                        201: function (response) {

                        },

                        400: function (response) {

                        },
                        404: function (response) {

                        },

                        417: function (response) {

                        },
                        500: function (response) {

                        }
                    }
                })


            } else {
                 $('#QUESTION_SELECT option').remove()
                $('#QUESTION_SELECT').append("<option style=\"font-size: 25px\" value=\"\" disabled selected>None</option>")
            }


            if (_event_id === "AYSTACT") {


                $('#QUESTION_SELECT option').remove()
                $('#QUESTION_SELECT').append("<option style=\"font-size: 25px\" value=\"\" disabled selected>All</option>")
                $.ajax({
                    "url": "/api/v1/get_event_by_id",
                    data: JSON.stringify({"event_id": _event_id}),
                    contentType: 'application/json',
                    method: 'POST',
                    statusCode: {
                        200: function (response) {

                            if (response.result === true) {
                                questions = response.data.questions

                                questions.forEach(function (question) {
                                    q_id = question.q_id
                                    text = question.text

                                    $('#QUESTION_SELECT').append(`<option id=${q_id} style="font-size: 25px"
                                value=${q_id}>${text}</option>`)
                                })

                            }

                        },
                        201: function (response) {

                        },

                        400: function (response) {

                        },
                        404: function (response) {

                        },

                        417: function (response) {

                        },
                        500: function (response) {

                        }
                    }
                })


            }
            if (_event_id === "CYBER_MILLIONARE") {


                $('#QUESTION_SELECT option').remove()
                $('#QUESTION_SELECT').append("<option style=\"font-size: 25px\" value=\"\" disabled selected>All</option>")
                $.ajax({
                    "url": "/api/v1/get_event_by_id",
                    data: JSON.stringify({"event_id": _event_id}),
                    contentType: 'application/json',
                    method: 'POST',
                    statusCode: {
                        200: function (response) {

                            if (response.result === true) {
                                questions = response.data.questions

                                questions.forEach(function (question) {
                                    q_id = question.q_id
                                    text = question.text

                                    $('#QUESTION_SELECT').append(`<option id=${q_id} style="font-size: 25px"
                                value=${q_id}>${text}</option>`)
                                })

                            }

                        },
                        201: function (response) {

                        },

                        400: function (response) {

                        },
                        404: function (response) {

                        },

                        417: function (response) {

                        },
                        500: function (response) {

                        }
                    }
                })


            }





        })


        // If submit button is pressed, data each team points and event submission will be
        $('#AWRD_BTN').click(function () {
            docs_b.forEach(function (element) {
                let event_id = $('#EVENT_SELECT').val();
                let q_id = $('#QUESTION_SELECT').val();

                var BreakException = {};


                if (event_id && q_id) {
                    let team_name = element.name
                    let team_points = $(`#${element.name}`).val()

                    $.ajax({
                        "url": "{{ url_for("new_response") }}",
                        data: JSON.stringify({
                            "team_name": team_name,
                            "event_id": event_id,
                            "q_id": q_id,
                            "response": "",
                            "point_value": Number(team_points),
                        }),
                        contentType: 'application/json',
                        method: 'POST',
                        statusCode: {
                            200: function (response) {

                                event_id = ""

                            },

                            417: function (response) {


                            },

                            404: function (response) {

                            }
                        }
                    })
                } else {
                    /// Preform Update Activities here
                    let team_name = element.name
                    let team_points = $(`#${element.name}`).val()

                    $.ajax({
                        "url": "{{ url_for("new_response") }}",
                        data: JSON.stringify({
                            "team_name": team_name,
                            "event_id": event_id,
                            "q_id": event_id,
                            "response": "",
                            "point_value": Number(team_points),
                        }),
                        contentType: 'application/json',
                        method: 'POST',
                        statusCode: {
                            200: function (response) {


                            },

                            417: function (response) {


                            },

                            404: function (response) {

                            }
                        }
                    })


                }

            })

            alert("Records Submitted.")
            updateTeamPoints()


        });


        /// Validates points input are numbers
        $('input').blur(function () {

            if (this.value) {

                if (isNaN(this.value) === false) {


                } else {
                    alert("Invalid Input Type, Must be Integer.")
                    this.value = ""
                }

            }

        })

    </script>

{% endblock %}