{% extends 'base.j2' %}

{% block  content %}

    <div class="container">
         <div class="row text-center">
            <div class="col">
                <img src="../static/img/usarcent_logo.png" alt="">
            </div>

            <div class="col">
                <div class="h1 MontserratBlack MainFontColor">Leader Board</div>

                <ol class="list-group list-group-flush" id="TEAM_LIST" style="font-size: 24px">

                </ol>

            </div>

            <div class="col">
                <img src="../static/img/usarcent_logo.png" alt="">
            </div>
         </div>

        <div class="row" style="margin-bottom: 4%">
            <div class="col">
                <button id="RESET_RESP" class="btn btn-danger">Reset Responses</button>
                <button id="NEW_USER" class="btn btn-primary">New User</button>
                <button class="btn btn-primary">Del User</button>
                <button class="btn btn-primary">Edit User</button>
                <button class="btn btn-primary">Score Report</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <select class="mdb-select md-form form-control MontserratBlack"
                        style="margin-bottom: 20px;font-size: 20px">
                    <option style="font-size: 25px" value="" disabled selected>Select Activity</option>
                    {% for game in games_list %}
                        <option id="{{ game.event_id }}" style="font-size: 25px"
                                value={{ game.event_id }}>{{ game.title }}</option>
                    {% endfor %}
                </select>

            </div>

        </div>
        <div class="row">


            <div id="TEAM_SET_1" class="col-4">


            </div>
            <div id="TEAM_SET_2" class="col-4">


            </div>
            <div id="TEAM_SET_3" class="col-4">


            </div>


        </div>
        <div class="row">

            <div class="col" style="margin-top: 30px">
                <button type="button" id="AWRD_BTN" class="btn btn-primary">Submit</button>
            </div>

        </div>


    </div>


    <script src="../static/js/main.js"></script>

    <script>



        $('document').ready(function () {

            makeLeaderboard()

            $('#TEAM_LIST > li').click(function(){
                alert(this)
            })

            $('#RESET_RESP').click(function () {/// Resets all users responses in the database


                if (window.confirm("Are you sure you would like to reset all team responses, this action is irreversible.")) {

                    $.ajax({
                        "url": "{{ url_for("reset_all_responses") }}",
                        data: {}, //Insert FormData feilds here.
                        method: 'GET',
                        statusCode: {
                            200: function (response) {
                                if (response.result == true) {
                                    alert("All Responses Have Been Cleared")
                                }


                            },
                            201: function (response) {

                            },

                            400: function (response) {

                            },
                            404: function (response) {

                            },

                            417: function (response) {

                            },
                            500: function (response) {

                            }
                        }
                    })

                }


            })


            $('#NEW_USER').click(function(){ ///Opens form to create a new user.
                popup("http://127.0.0.1:5000", "NewUserForm")
            })



            setInterval(makeLeaderboard, 5000);
        })

    </script>

    <script>
        function isNumber(value) {
            return typeof value === 'number' && isFinite(value);
        }


        var docs = {{ team_docs }};
        var docs_b = {{ team_docs }};


        var docs_1 = docs.splice(0, 5)
        var arrayLength_1 = docs_1.length;
        for (var i = 0; i < arrayLength_1; i++) {

            //Do something

            $('#TEAM_SET_1').append(`<span class="MontserratBlack"> ${docs_1[i].alias}</span> <input id="${docs_1[i].name}" class="form-control MontserratBlack" type="text" placeholder="${docs_1[i].points} points">`)
        }

        var docs_2 = docs.splice(0, 5)
        var arrayLength_2 = docs_2.length;
        for (var i = 0; i < arrayLength_2; i++) {

            //Do something

            $('#TEAM_SET_2').append(`<span class="MontserratBlack"> ${docs_2[i].alias}</span> <input id="${docs_2[i].name}" class="form-control MontserratBlack" type="text" placeholder="${docs_2[i].points} points">`)
        }

        var docs_3 = docs.splice(0, 5)
        var arrayLength_3 = docs_3.length;
        for (var i = 0; i < arrayLength_3; i++) {

            //Do something

            $('#TEAM_SET_3').append(`<span class="MontserratBlack"> ${docs_3[i].alias}</span> <input id="${docs_3[i].name}" class="form-control MontserratBlack" type="text" placeholder="${docs_3[i].points} points">`)
        }

        $('#AWRD_BTN').click(function () {
            docs_b.forEach(function (element) {
                let activity = $('select').val();

                if (activity) {
                    /// Preform Update Activities here
                    let input_value = $(`#${element.name}`).val()

                    $.ajax({
                        "url": "{{ url_for("new_response") }}",
                        data: JSON.stringify({}),
                        contentType: 'application/json',
                        method: 'POST',
                        statusCode: {
                            200: function (response) {

                            },

                            400: function (response) {

                            },

                            404: function (response) {

                            }
                        }
                    })


                    console.log(input_value)
                }

            })
        });


        /// Validates points input are numbers
        $('input').blur(function () {

            if (this.value) {

                if (isNaN(this.value) === false) {


                } else {
                    alert("Invalid Input Type, Must be Integer.")
                    this.value = ""
                }

            }

        })
        {#console.log(docs.splice(0, 5));#}
        {#console.log(docs.splice(0, 5))#}
    </script>

{% endblock %}